<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="bg-dark text-light">
    <%- include('./partials/nav.ejs') %> <% if (locals.error) { %>
    <div class="container mt-3">
      <div class="alert alert-danger text-center" role="alert">
        <%= error %>
      </div>
    </div>
    <% } %>

    <div
      class="container mt-5 p-4"
      style="max-width: 400px; background-color: #17a2b8; border-radius: 10px"
    >
      <h2 class="text-center mb-4">Sign In</h2>
      <form action="/user/signin" method="post">
        <div class="mb-4">
          <label for="email" class="form-label fw-bold">Email Address</label>
          <input
            type="email"
            name="email"
            class="form-control bg-dark text-light border-0"
            id="email"
            placeholder="Enter your email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text text-muted">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label fw-bold">Password</label>
          <input
            type="password"
            name="password"
            class="form-control bg-dark text-light border-0"
            id="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-light btn-lg px-5">
            Sign In
          </button>
        </div>
      </form>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
